// Variables
$font-family: "DM Sans", serif;
$primary-text-color: #000743;
$button-color: #FF3366;
$button-hover-color: #da2552;
$secondary-bg-color: #77277c;
$secondary-button-color: #A86DB7;
$secondary-button-hover-color: #742b86;
$white: #ffffff;
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
$hover-shadow: 2px 6px 6px rgba(0, 0, 0, 0.3);

// Base styles
body {
    font-family: $font-family;
}

// Container styles
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

// Home section styles
.h1-home {
    font-family: $font-family;
    font-weight: 700;
    font-style: normal;
    font-size: 380%;
    text-align: center;
    padding-top: 5.5%;
    color: $primary-text-color;
}

.h4-home {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 125%;
    text-align: center;
    color: $primary-text-color;
}

// Button styles
.curved-button {
    background-color: $button-color;
    color: $white;
    padding: 1% 1%;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-family: $font-family;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 255px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: $shadow;

    &:hover {
        background-color: $button-hover-color;
        box-shadow: $hover-shadow;
    }
}

.button-container {
    display: flex;
    justify-content: center;
}

// Icon styles
.icon-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.floating-icon {
    position: absolute;
    width: 6.77%;
    background: $white;
    border-radius: 15px;
    box-shadow: $shadow;
    padding: 0.68%;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

// Mobile section styles
.mobile-phones {
    background-color: $secondary-bg-color;
    background-image: url('assets/bgImg01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: -0.6%;
    margin-right: -0.6%;
}

.h1-mobile {
    font-family: $font-family;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    text-align: left;
    margin-left: 5%;
    color: $white;
}

.curved-button-mobile {
    background-color: $secondary-button-color;
    color: $white;
    padding: 1% 1%;
    margin-left: 5%;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-family: $font-family;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 220px;
    height: 45px;
    display: flex;
    align-items: left;
    justify-content: center;
    gap: 8px;
    box-shadow: $shadow;

    &:hover {
        background-color: $secondary-button-hover-color;
        box-shadow: $hover-shadow;
    }
}

.button-container-mobile {
    display: flex;
    justify-content: left;
}

// Image styles
.foreground-image {
    position: absolute;
    top: 950px;
    left: 540px;
    width: 800px;
    height: auto;
}

.mobile-phones-image {
    position: absolute;
    top: 957px;
    left: 835px;
    width: 668px;
    height: auto;
}